body {
	margin: 0;
	font-size: 16px;
	padding: 0;
	/* font-family: "Roboto", sans-serif; */
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

input,
textarea,
input:focus,
textarea:focus {
	border: none;
	outline: none;
}
a,
a:hover {
	text-decoration: none;
}
 
.container {
	max-width: 1255px;
}
h2 {
	font-size: 50px;
	line-height: 64px;
	color: #fff;
	font-weight: 600;
    margin-bottom: 16px;
}
h2 span {
	color: #F5C448;
}
.accordion-button:focus,.navbar-toggler:focus{
	box-shadow:0 0 0 transparent
}
p {
	color:#04151F;
	font-size: 18px;
	line-height: 30px;
}
.primary-btn {
	font-size: 18px;
	letter-spacing: -0.005em;
	padding: 10px 22px;
	display: inline-block;
	color: #23262f !important;
	background: #f5c448;
	transition: 0.5s;
	border: 1px solid transparent;
	border-radius: 10px;
}
.secondary-btn{
	font-size: 18px;
	letter-spacing: -0.005em;
	padding: 10px 22px;
	display: inline-block;
	color: #fff !important;
	background: #2C88C9;
	transition: 0.5s;
	border: 1px solid transparent;
	border-radius: 10px;
}
 
.primary-btn-bg-transparent {
	font-size: 18px;
	letter-spacing: -0.005em;
	padding: 10px 22px;
	display: inline-block;
	transition: 0.5s;
	border: 1px solid transparent;
	border-radius: 10px;
	background-color: transparent;
	border-color: #fff;
	color: #fff;
}
.tab-btn{
	box-shadow: 0px 16.9px 25.36px 0px #C4CDDA40;
	font-size: 16px;
	font-weight: 600;
	line-height: 19.8px;
	padding: 14px 22px;
	outline: none;
	border: none;
	display: flex;
	align-items: center;
	gap: 10px;
	border-radius: 10px;
	color: #04151F;
	letter-spacing: -0.005em;
	background-color:#fff;
}
.tab-btn:hover,.tab-btn.active,.mixitup-control-active{
	background: #2C88C9;
	color:#fff;
}
.tab-btn i{
	font-size: 20px;
}
.primary-btn:hover,.primary-btn-bg-transparent:hover,.secondary-btn:hover{
	background: #fff;
	color: #23262f !important;
	box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}
.gradient-bg{
    background: linear-gradient(-90deg, #233946 0%, #04151F 50.39%);
}
.text-white{
    color:#fff
}
.menu-bg{
	background: linear-gradient(-90deg, #233946 0%, #04151F 50.39%);
}
.mt-10{
	margin-top: 10px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}
.mr-22{
    margin-right: 22px;
}
.ptb-90{
    padding: 90px 0;
}
.mt-30{
	margin-top: 30px;
}
.mt-70{
    margin-top: 70px;
}
.mb-10{
	margin-bottom: 10px;
}
.mt-100{
    margin-top: 100px;
}
.mt-120{
    margin-top: 120px;
}
.ml-5{
	margin-left: 5px;
}
.lg-mr-22{
margin-right: 22px;
}
.bg-color-f5{
	background-color: #F5C4480F;
}
 .mb-30{
	margin-bottom: 30px;
 }
 .rotation i{
	transform: rotate(-40deg);
 }
 .pt-90{
	padding-top: 90px;
 }
 .mt-20{
	margin-top: 20px;
 }
 table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control::before {
	border-left: 10px solid #f5c448;
}
.pt-30{
	padding-top: 30px;
}
.mt-20{
	margin-top: 20px;
}
.color-35{
	color:#359846;
}
.color-e8{
	color:#E80000;
}
.g-30{
	gap: 30px;
}
.g-20{
	gap: 20px;
}
.mb-70{
	margin-bottom: 70px;
}
.mt-20{
	margin-top: 20px;
} 
.g-8{
	gap: 8px;
}
.mt-12{
	margin-top: 12px;
}
.mb-40{
	margin-bottom: 40px;
}
.mb-60{
	margin-bottom: 60px;
}
.app-version-btn-2 ul li{
	font-size: 20px;
	width: 33%;
	line-height: 22px;
	cursor: pointer;
	letter-spacing: -0.005em;
	color:#04151F99;
	padding-bottom: 10px;
	border-bottom: 1.5px solid #04151F1A
}
.app-version-btn-2 ul li.active{
	color:#04151F;
	border-color: #04151F;
}
.input-shadow{
	backdrop-filter: blur(4px);
	border: 1.5px solid #FFFFFF1A;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF66;
	background: rgba(255, 255, 255, 0.1);
	letter-spacing: -0.005em;
	padding: 10px 20px;
	box-sizing: border-box;
}
.searching-box input::placeholder{
	opacity: 1;
	color: #FFFFFF66;
}
.searching-box input:focus{
	border: 1.5px solid #FFFFFF1A;
}
.g-20{
	gap: 20px;
}
.searching-box input{
	min-width:370px;
}
.pb-30{
	padding-bottom: 30px;
}
.g-15{
	gap: 15px;
}

.mb-20{
	margin-bottom: 20px;
}
.video-controlls-previous{
	opacity:0.4;
}
.faq-tab-area .tab-btn{
	justify-content: center;
	height: 100%;
}
.card-4{
	padding: 30px 15px;
	border-radius: 10px;
	text-align: center;
	background: #F5C448;
	box-shadow: 0px 16.9px 25.36px 0px #C4CDDA40;
}
.card-4 h6{
	font-size:26px;
	color:#04151F;
	line-height: 33px;
}
.card-4 h4{
	font-size:34px;
	font-weight: 600;
	line-height: 44px;
	color: #04151F;
	margin-top:4px;
}
.card-4-btn-list li{
	padding:16px 32px ;
	display: inline-block;
	border-radius: 10px;
	background-color:#fff;
	font-size:30px;
	font-weight: 600;
}
.color-04{
	color: #04151F;
}
.rank-up-down i {
	font-size: 12px;
	margin-top: 2px;
	margin-right: 2px;
}
.rank-up-down span{
	font-size: 14px;
}
.g-5{
	gap: 5px;
}
.table-searching-box input{
	border-color:#04151F1A;
	color: #04151F66;
}
.searching-box input:focus{
	border-color:#F5C448;
}
.table-searching-box input::placeholder {
	opacity: 1;
	color: #04151F66;
}